.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;

}

#contactoNav .icon {
	cursor: pointer;
}

.icon--menu span, .icon--menu svg {
	cursor: pointer;
}

.loader {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}

.view {
	position: relative;
	/* display: flex;
	justify-content: flex-end; */
	overflow: hidden;
	height: 100vh;
	/* margin: 0 0 0 215px; */
}

.content {
	z-index: 1;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 25px 50px;
	background: url(../img/bg_lavender.jpg) no-repeat top left;
	background-size: auto 100%;
}

.deco__text {
	font-size: 0.8em;
	line-height: 1;
	margin: 0;
	color: #bcb8e8;
}

.btn {
	border: none;
	background: none;
}

.btn:focus {
	outline: none;
}

.btn--back {
	font-size: 1.5em;
	position: absolute;
	z-index: 1002;
	top: 1em;
	right: 1em;
	opacity: 0;
	color: #1d48f3;
}

.btn--menu {
	font-size: 0.85em;
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	margin: 10px 0 0 6px;
}

.btn--menu-active .icon--menu,
.icon--cross {
	display: none;
}

.btn--menu-active .icon--cross {
	display: block;
}

/* Content */
.tabscontent {
	pointer-events: none;
}

.tabscontent__item {
	position: fixed;
	z-index: 1001;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	opacity: 0;
}

.tabscontent__item--current,
.tabscontent__item--current ~ .btn--back {
	pointer-events: auto;
}

.column {
	width: 30vw;
}

.column__title {
	color: #ff764b;
}

.column__text {
	font-size: 2em;
	font-weight: normal;
	margin: 0;
	color: #fff4d7;
}

.home {
	color: $brand-primary;
	background: #0f0f0f;
}

.home a {
	color: #fff;
}

.home a:hover,
.home a:focus,
.home .btn--menu:hover {
	color: $brand-primary;
}

.home .view {
	margin: 0;
	/* padding: 5vw 5vw calc(10vw + 1em); */
}

.home .content {
	padding: 0;
}

.home .btn--menu {
	font-size: 1.5em;
	top: auto;
	bottom: .6rem;
	left: 0;
	display: block;
	margin: auto;
	color: $brand-primary;
	right: 0;
	width: 100%;
}

.home .btn--menu > div > span,
.home .btn--menu > div > svg {
	display: inline-block;
	vertical-align: middle;
}

.home .btn--menu > div > svg {
	width: 1.2em;
	height: 1.2em;
}

.home .content {
	background: url(../img/img4.jpg) no-repeat 50% 20%;
	background-size: cover;
}

.home .demos {
	margin: 1em 0 0;
}

.home .demo:first-child {
	margin: 0;
}

.home .demo.demo--current {
	color: #2a3137;
}

.home .demo--current::before {
	background: $brand-primary;
}

.home .btn--back {
	color: #6c7d8c;
	top: 0.5em;
	right: 0.5em;
}

.home .btn--back:hover {
    cursor: pointer;
}

.home .btn--back .icon {
	/* transform: rotate(-90deg); */
}

.box {
	position: relative;
	width: 100%;
	height: 100%;
}

/*
NAVIGATION
********************************/

.tabsnav {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.tabsnav--hidden {
	pointer-events: none;
	visibility: hidden;
}

.tabsnav__item {
	height: 50px;
	position: relative;
	cursor: pointer;
	width: 36%;
}

.tabsnav__bar {
	background: currentColor;
	// width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
}

.tabsnav__title {
	position: relative;
	cursor: pointer;
	margin: 0;
	height: 100%;
	font-weight: normal;
	line-height: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	pointer-events: none;
	padding-left: 1rem;
}

/* Vertical Menu */
.tabsnav--vertical {
	display: flex;
	width: auto;
	height: 100%;
}

.tabsnav--vertical .tabsnav__item {
	flex: none;
	width: 50px;
	height: 100%;
}

.tabsnav--vertical .tabsnav__title {
	transform: rotate(-90deg);
}


/* Ibai */
.tabsnav--ibai {
	/* top: 50%;
	margin-top: -115px; */
}

.tabsnav--ibai .tabsnav__item {
	height: auto;
}

.tabsnav--ibai .tabsnav__item h3{
	font-size: 14vw;
	text-transform: uppercase;
	line-height: .8;
}

.tabsnav--ibai .tabsnav__item h3:hover{
	color: $brand-primary;
}

#playNav.tabsnav__item h3:hover{
	color: #000;
}

.tabsnav--ibai .tabsnav__bar {
	background: #000;
	opacity: 0;
}


.tabsnav--ibai .tabsnav__title {
	color: #fff;
}

.tabsnav--ibai .tabsnav__item:not(:last-child) {
	margin: 0;
}

.tabsnav--active h3 {
	color: #fff !important;
}

@media screen and (max-width: 40em) {
	/* don't show a background if on mobile */
	.tabsnav {
		background: none;
	}
}


/*
HOME
********************************/

.flex-content {
	display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}

.is-mobile .flex-content {
	overflow: hidden;
	height:  calc(100% - 2%;);
}

.logo {
	position: absolute;
	right: 22%;
	opacity: 0;
}

.logo img {
	width: 300px;
}
/*
.icon--menu::before {
	content: 'CONTACTO';
	position: absolute;
	z-index: 9999;
	margin-top: -9px;
	margin-left: -17px;
} */

/*
CLOSE BUTTON
********************************/

.home .btn--back .icon {
	display: inline-block;
	vertical-align: top;
}

.home .btn--back__txt {
	display: inline-block;
    position: relative;
    color: $brand-primary;
	right: 9px;
}

.home .icon--caret {
	color: $brand-primary;
}

/*
CREW
********************************/

#crewNav .tabsnav__bar {
	background: #0f0f0f;
}

.video-viewport {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}

.video-viewport video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-aspect-ratio: 16 / 9) {
	#crew .video-viewport video {
		height: 300%;
		top: -100%;
	}

	// #bodyBg .video-viewport video {
	// 	height: 300%;
	// 	top: -100%;
	// }
}

@media (max-aspect-ratio: 16 / 9) {
	#crew .video-viewport video {
		width: 300%;
		left: -100%;
	}
	.is-mobile #crew .video-viewport video {
		width: 100%;
		left: 0%;
	}
}


#work .video-viewport video,
#contacto .video-viewport video {
	width: 300%;
	left: -100%;
}

#crewVideo-mobile {
	width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
}

/*
TOOLS
********************************/

#gallery {
	position: relative;
}

#gallery img {
	position: absolute;
}

#tools .box {
	cursor: none;
}

/* Cursor */

#follower {
  position: absolute;
  top: 50%;
  left: 50%;
}

#follower::before {
	content: 'move';
	position: absolute;
	z-index: 9999;
	margin-top: -9px;
	margin-left: -17px;
}

.is-mobile #follower::before {
	content: 'tap';
	margin-left: -11px;
}


#follower #circle1 {
  position: absolute;
  -webkit-animation: pulse 2s infinite; /* Chrome, Safari, Opera */
  animation: pulse 2s infinite;
  background-color: transparent;
  border: 2px solid $brand-primary;
  border-radius: 50%;
  height: 0em;
  width: 0em;
  margin-top: 0em;
  margin-left: 0em;
  z-index: 9997;
}
#follower #circle2 {
  position: absolute;
  -webkit-animation: pulse 4s infinite; /* Chrome, Safari, Opera */
  animation: pulse 4s infinite;
  background: rgba(255,255,255,0.2);
  // background-color: transparent;
  // border: 2px solid $brand-primary;
  border-radius: 50%;
  height: 0em;
  width: 0em;
  margin-top: 0em;
  margin-left: 0em;
  z-index: 9998;

}

#follower.no-cursor::before {
	content: none;
}

#follower.no-cursor #circle1,
#follower.no-cursor #circle2 {
	background: none !important;
}

@-moz-keyframes pulse {
  0% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
  }
  50% {
    opacity: 0.9;
    height: 3em;
    width: 3em;
    margin-top: -1.5em;
    margin-left: -1.5em;
  }
  100% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
  }
  50% {
    opacity: 0.9;
    height: 3em;
    width: 3em;
    margin-top: -1.5em;
    margin-left: -1.5em;
  }
  100% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
  }
}
@-o-keyframes pulse {
  0% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
  }
  50% {
    opacity: 0.9;
    height: 3em;
    width: 3em;
    margin-top: -1.5em;
    margin-left: -1.5em;
  }
  100% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
  }
}
@keyframes pulse {
  0% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
  }
  50% {
    opacity: 0.9;
    height: 3em;
    width: 3em;
    margin-top: -1.5em;
    margin-left: -1.5em;
  }
  100% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
  }
}

/*
PLAY
********************************/

#playNav .tabsnav__bar {
	background: #0f0f0f;
}

#play .box{
	overflow-y: scroll;
}

.letter-container {
	position: relative;
	list-style: none;
	height: 300vh;
}

.letter-container .letter {
	color: #fff;
	position: absolute;
	cursor: pointer;
	font-size: 2rem;
	font-weight: lighter;
	font-family: Helvetica, sans-serif;
	opacity: .3;
}

.letter-container .letter:first-child {
    left: 10.15vw;
    top: 23.44vh;
}

.letter-container .letter:nth-child(2) {
    left: 32.43vw;
    top: 30.11vh;
}

.letter-container .letter:nth-child(3) {
    left: 60.13vw;
    top: 17.22vh;
}

.letter-container .letter:nth-child(4) {
    left: 88.05vw;
    top: 27.5vh;
}

.letter-container .letter:nth-child(5) {
    left: 14.2vw;
    top: 66.61vh;
}

.letter-container .letter:nth-child(6) {
    left: 35.17vw;
    top: 85.16vh;
}

.letter-container .letter:nth-child(7) {
    left: 48.85vw;
    top: 53.66vh;
}

.letter-container .letter:nth-child(8) {
    left: 76.87vw;
    top: 61.27vh;
}

.letter-container .letter:nth-child(9) {
    left: 82.88vw;
    top: 85vh;
}

.letter-container .letter:nth-child(10) {
    left: 10.15vw;
    top: 123.44vh;
}

.letter-container .letter:nth-child(11) {
    left: 32.43vw;
    top: 130.11vh;
}

.letter-container .letter:nth-child(12) {
    left: 60.13vw;
    top: 117.22vh;
}

.letter-container .letter:nth-child(13) {
    left: 88.05vw;
    top: 127.5vh;
}

.letter-container .letter:nth-child(14) {
    left: 14.2vw;
    top: 166.61vh;
}

.letter-container .letter:nth-child(15) {
    left: 35.17vw;
    top: 185.16vh;
}

.letter-container .letter:nth-child(16) {
    left: 48.85vw;
    top: 153.66vh;
}

.letter-container .letter:nth-child(17) {
    left: 76.87vw;
    top: 161.27vh;
}

.letter-container .letter:nth-child(18) {
    left: 82.88vw;
    top: 185vh;
}

.letter-container .letter:nth-child(19) {
    left: 10.15vw;
    top: 223.44vh;
}

.letter-container .letter:nth-child(20) {
    left: 32.43vw;
    top: 230.11vh;
}

.letter-container .letter:nth-child(21) {
    left: 60.13vw;
    top: 217.22vh;
}

.letter-container .letter:nth-child(22) {
    left: 88.05vw;
    top: 227.5vh;
}

.letter-container .letter:nth-child(23) {
    left: 14.2vw;
    top: 266.61vh;
}

.letter-container .letter:nth-child(24) {
    left: 35.17vw;
    top: 285.16vh;
}

.letter-container .letter:nth-child(25) {
    left: 48.85vw;
    top: 253.66vh;
}

.scroll-downs {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 1rem;
  left: 0;
  margin: auto;
  width :17px;
  height: 27px;
  opacity: 0;
}
.mousey {
  width: 1.5px;
  padding: 5px 7.5px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 2px;
  height: 5px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 1.6s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(8px); opacity: 0;}
}


/* AUDIO WAVES */

.audio-wave .lds-grid {
	height: 46px;
}

.audio-wave {
	position: fixed;
	right: 0;
	margin: 2rem 9.5rem 0 0;
	cursor: pointer;
	z-index: 999;
	top: 0;
	opacity: 0;
}

.loader-container {
	position: relative;
	height: 25px;
	width: 74px;
}

.loader-container > div {
	position: relative;
	display: inline-block;
	background: #575757;
	height: 100%;
	width: 3px;
	margin: 0;
}

.animated-wave .loader-container > div {
	-webkit-animation: load 3s ease-in-out infinite;
	animation: load 3s ease-in-out infinite;
}

.animated-wave .loader-container .rectangle-2 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.animated-wave .loader-container .rectangle-3 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.animated-wave .loader-container .rectangle-4 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.animated-wave .loader-container .rectangle-5 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.animated-wave .loader-container .rectangle-6 {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@-moz-keyframes load {
	0%,
	100% {
		-moz-transform: scaleY(0.25);
		background: #575757;
	}
	16.67% {
		-moz-transform: scaleY(0.75);
		background: #FF5722;
	}
	33.33% {
		-moz-transform: scaleY(0.25);
		background: #FF5252;
	}
	50% {
		-moz-transform: scaleY(0.75);
		background: #E91E63;
	}
	66.67% {
		-moz-transform: scaleY(0.25);
		background: #E91E63;
	}
	83.34% {
		-moz-transform: scaleY(0.75);
		background: $brand-primary;
	}
}

@-webkit-keyframes load {
	0%,
	100% {
		-webkit-transform: scaleY(0.25);
		background: #575757;
	}
	16.67% {
		-webkit-transform: scaleY(0.75);
		background: #FF5722;
	}
	33.33% {
		-webkit-transform: scaleY(0.25);
		background: #FF5252;
	}
	50% {
		-webkit-transform: scaleY(0.75);
		background: #E91E63;
	}
	66.67% {
		-webkit-transform: scaleY(0.25);
		background: #E91E63;
	}
	83.34% {
		-webkit-transform: scaleY(0.75);
		background: $brand-primary;
	}
}

@keyframes load {
	0%,
	100% {
		transform: scaleY(0.25);
		background: #575757;
	}
	16.67% {
		transform: scaleY(0.75);
		background: #FF5722;
	}
	33.33% {
		transform: scaleY(0.25);
		background: #FF5252;
	}
	50% {
		transform: scaleY(0.75);
		background: #E91E63;
	}
	66.67% {
		transform: scaleY(0.25);
		background: #E91E63;
	}
	83.34% {
		transform: scaleY(0.75);
		background: $brand-primary;
	}
}



/*
WORK
********************************/

#workNav .tabsnav__bar {
	background: $black;
}

#work .box {
	width: 80vw;
	min-width: 300px;
	height: calc(90vh - 120px);
	margin-top: 40px;
	background-size: cover;
	background-position: 50% 0;
	font-family: 'Raleway', sans-serif;
	padding-top: 3rem;
}

// #work .box::after {
// 	content: '';
// 	width: 100%;
// 	height: 100%;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	background-color: rgba(0, 0, 0, 0.5);
// 	z-index: 1;
// }

.box__brands {
	position: relative;
	display: flex;
	z-index: 2;
	justify-content: center;

	&--logo {
	height: auto;
	align-self: center;

		&:nth-child(n + 2) {
	  		page-break-before: always; /* FF33 */
		}

		img{
			margin: 1rem 1.6rem;
			opacity: .6;
			transition: opacity .4s ease-in-out;
			&:hover {
				opacity: 1
			}
		}

		&__telcel img {
			width: 130px;
		}

		&__telmex img {
			width: 180px;
		}

		&__televisa img {
			width: 70px;
		}

		&__imagen img {
			width: 55px;
		}

		&__c22 img {
			width: 52px;
		}

		&__c40 img{
			width: 100px;
		}

		&__iave img {
			width: 110px;
		}

		&__ln img {
			width: 68px;
		}

		&__sa img {
			width: 180px;
		}

		&__blim img {
			width: 74px;
		}

		&__rc img {
			width: 160px;
		}

		&__cf img {
			width: 110px;
		}




	}
}

.box__list {
	padding: 0;
	font-size: 1.4em;
	position: relative;
	top: 0;
	margin: 3rem 0;
	color: #fff;
	letter-spacing: 2px;
	z-index: 2;
	width: 100%;
	text-align: center;
	font-family: 'Rosario',cursive;
	list-style: none;
	font-size: 1.6rem;

	li:hover {
		color: $brand-primary;
	}


}

.box__list li {
	margin-bottom: 1rem;
}

.contacto-nav__btn {
	opacity: 0;
}

.contacto {
	position: absolute;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: auto;
	width: 40%;
	height: 50%;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	padding-left: 1rem;
	font-family: 'Rosario', cursive;
}

.contacto-header {
	writing-mode: vertical-rl;
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: -3rem;
}

.contacto .phone {
	position: absolute;
	bottom: -2.2rem;
	font-size: 3rem;
}

.contacto .address {
	font-size: 1.5rem;
	color: #fff;
	line-height: 1;
	margin-top: -5rem;
	line-height: 1.4;
	// font-family: 'Rosario', cursive;
}

.contacto .correo {
	// font-family: 'Rosario', cursive;
	cursor: pointer;
}

.contacto-social {
	position: absolute;
	bottom: -1rem;
	padding-left: 0;
	right: -4rem;

	.icon {
		width: 2.5em;
		height: 2.5em;
	}

	li {
		// display: inline-block;
		// vertical-align: middle;
		// margin-right: 1em;
		list-style: none;
	}

	a {
		color: $brand-primary;

		&:hover  {
			color: $white
		}
	}
}

.contacto .phone-mobile {
	display: none;
}

.contacto .phone-desktop {
	display: block;
}

.contacto-banner {
	display: none;
}

.hide {
	opacity: 0 !important;
}

.none {
	display: none !important;
}

@media only screen and (max-width: 992px) {
  .logo {
	  right: 19%;
	  img {
		  width: 250px;
	  }
  }
}

@media only screen and (max-width: 600px) {

	.home .btn--back {
	    color: #6c7d8c;
	    top: 9px;
	    right: 3px;
	}

	#gallery img {
		width: 60%;
	}

	.logo {
		position: relative;
		right: auto;
		width: 100%;
		text-align: center;
		margin: 2rem auto;
	}

	.logo img {
		width: 120px;
	}

	.view {
		overflow: auto;
		height: auto;
		min-height: calc(100vh - 69px);
		margin: 0;
	}
	.home .view {
		height: calc(100vh - 69px);
	}
	.content {
		flex-direction: column;
		padding: 10px;
	}

	.flex-content {
		flex-direction: column-reverse;
	}

	.deco__text,
	.demos__text {
		display: none;
	}

	.demos {
		align-items: flex-start;
		margin-top: 1em;
	}

	.poster__box {
		top: -20px;
		left: 30px;
		width: 30%;
		height: 30%;
		border: 7px solid;
	}
	.poster__deco {
		font-size: 1em;
	}
	.poster__number {
		font-size: 2em;
		left: calc(100% - 90px);
	}

	.poster__title {
		font-size: 3em;
	}
	.btn--back {
		top: 0;
		right: 0;
	}

	.btn--menu {
		display: block;
	}
	.demo-2 .btn--menu {
		position: relative;
		margin: 0 2em 0 0;
	}
	.demo-2 .tabscontent__item {
		font-size: 0.575em;
		flex-direction: column;
	}
	.column__title {
		margin: 1em 0 0;
	}


	.contacto {
		width: 100%;
		// height: calc(100% - 49%);
		margin-top: 0%;
		text-align: center;
		padding: 0;
		font-weight: bolder;
	}

	.contacto .address {
		margin-top: 0;
		font-size: 1.2rem;
	}

	.contacto .phone {
		position: relative;
		bottom: auto;
		font-size: 1.8rem;
		margin-top: .6rem;
		margin-bottom: .6rem;
	}

	.contacto-social {
		position: relative;
		right: auto;
		left: 0;
		bottom: auto;
		text-align: center;

		li {
			display: inline-block;
			vertical-align: top;
		}
	}

	.contacto-header {
		display: none;
	}

	.contacto .phone-mobile {
		display: block;
		text-decoration: underline;
		color: $brand-primary;
	}

	.contacto .phone-desktop {
		display: none;
	}

	.contacto-social__list {
		display: inline-block;
	    padding: .6rem;
	    border: 3px solid yellow;
	    border-radius: 1rem;
	}

	.contacto-banner {
		display: block;
		width: 100%;
	}

	.audio-wave {
		left: .6rem;
		right: auto;

	}

	#work .box {
		margin-top: 0;
		width: 100vh;
		padding-top: 0;
    	height: 80vh;
	}

	.box__list {
		margin: 0;
		font-size: 1rem;
		padding: 0;
	}


	.box__brands {
		display: block;
		text-align: center;

		&--logo {
		display: inline-table;
		height: auto;
		width: 30%;

			img{
				vertical-align:middle;
			}

			&__telcel {
				width: 40%;
				img { width: 98px; }
			}

			&__telmex {
				width: 40%;
				img {width: 130px; }
			}

			&__televisa img {
				width: 55px;
			}

			&__imagen img {
				width: 42px;
			}

			&__c22 img {
				width: 42px;
			}

			&__c40 img{
				width: 70px;
			}

			&__iave img {
				width: 80px;
			}

			&__ln img {
				width: 48px;
			}

			&__sa {
				width: 42%;
				img { width: 140px; }
			}

			&__blim {
				width: 42%;
				img { width: 50px; }
			}

			&__rc {
				width: 48%;
				img { width: 130px; }
			}

			&__cf {
				width: 48%;
				img { width: 80px; }
			}

		}
	}

	.tabsnav__bar {
		width: 100%;
	}

	.tabsnav--ibai .tabsnav__item h3 {
		text-align: center;
		padding-left: 0;
	}

	.tabsnav__item {
		width: 100%;
	}

	// .tabsnav--ibai .tabsnav__item {
	//     height: 48px;
	// }

	.tabsnav--ibai .tabsnav__item:not(:last-child) {
		margin: 1rem 0;
	}

}

@media only screen and (max-width: 380px) {
	.box__brands--logo {
		&__telcel img { width: 78px; }
		&__telmex img {width: 100px; }
		&__televisa img { width: 45px; }
		&__imagen img { width: 32px; }
		&__c22 img { width: 32px; }
		&__c40 img{ width: 60px; }
		&__iave img { width: 65px; }
		&__ln img { width: 40px; }
		&__sa img { width: 120px; }
		&__blim img { width: 40px; }
		&__rc img { width: 110px; }
		&__cf img { width: 65px; }
	}
}

.close {
	a {
	    line-height: 1;
	    width: 50px;
	    height: 30px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    background: #222;
	    border-radius: 14.5px;
	}

	svg {
		width: 15px;
	    height: 15px;
	    position: relative;
	    left: -2px;

		path {
			stroke: $brand-primary;
		}
	}
}

.goBack a{
	background-color: transparent;
	border: 2px solid $brand-primary
}

#bodyBg-tools, #bodyBg-work {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
}
//
// #bodyBg-crew {
// 	background-image: url(../img/bkg/crew-bkg-01.jpg);
// }

#bodyBg-tools {
	background-image: url(../video/bkg/tools.jpg);
}

#bodyBg-work {
	background-image: url(../img/bkg/work-bkg-02.jpg);
}

.loaded {
	opacity: 1 !important;
}

.lds-grid {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.lds-grid div {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $brand-primary;
  opacity: 0.1;
}

.animated-wave .lds-grid div {
	animation: loader-anim 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes loader-anim {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
