*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Shelf-Life', Helvetica, Arial, sans-serif;
	color: $white;
	background: $black;
}

a {
	text-decoration: none;
	color: $brand-primary;
	outline: none;
}

a:hover,
a:focus {
	color: #1d48f3;
}
