@font-face {
  font-family: 'Shelf-Life';
  src: url("../fonts/shelflifesemiexpd-webfont.eot");
  src: url("../fonts/shelflifesemiexpd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/shelflifesemiexpd-webfont.woff") format("woff"), url("../fonts/shelflifesemiexpd-webfont.ttf") format("truetype"), url("../fonts/shelflifesemiexpd-webfont.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
