*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Shelf-Life', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background: #0f0f0f; }

a {
  text-decoration: none;
  color: #F4FE55;
  outline: none; }

a:hover,
a:focus {
  color: #1d48f3; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none; }

/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor; }

#contactoNav .icon {
  cursor: pointer; }

.icon--menu span, .icon--menu svg {
  cursor: pointer; }

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center; }

.view {
  position: relative;
  /* display: flex;
	justify-content: flex-end; */
  overflow: hidden;
  height: 100vh;
  /* margin: 0 0 0 215px; */ }

.content {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 25px 50px;
  background: url(../img/bg_lavender.jpg) no-repeat top left;
  background-size: auto 100%; }

.deco__text {
  font-size: 0.8em;
  line-height: 1;
  margin: 0;
  color: #bcb8e8; }

.btn {
  border: none;
  background: none; }

.btn:focus {
  outline: none; }

.btn--back {
  font-size: 1.5em;
  position: absolute;
  z-index: 1002;
  top: 1em;
  right: 1em;
  opacity: 0;
  color: #1d48f3; }

.btn--menu {
  font-size: 0.85em;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  margin: 10px 0 0 6px; }

.btn--menu-active .icon--menu,
.icon--cross {
  display: none; }

.btn--menu-active .icon--cross {
  display: block; }

/* Content */
.tabscontent {
  pointer-events: none; }

.tabscontent__item {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  opacity: 0; }

.tabscontent__item--current,
.tabscontent__item--current ~ .btn--back {
  pointer-events: auto; }

.column {
  width: 30vw; }

.column__title {
  color: #ff764b; }

.column__text {
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  color: #fff4d7; }

.home {
  color: #F4FE55;
  background: #0f0f0f; }

.home a {
  color: #fff; }

.home a:hover,
.home a:focus,
.home .btn--menu:hover {
  color: #F4FE55; }

.home .view {
  margin: 0;
  /* padding: 5vw 5vw calc(10vw + 1em); */ }

.home .content {
  padding: 0; }

.home .btn--menu {
  font-size: 1.5em;
  top: auto;
  bottom: .6rem;
  left: 0;
  display: block;
  margin: auto;
  color: #F4FE55;
  right: 0;
  width: 100%; }

.home .btn--menu > div > span,
.home .btn--menu > div > svg {
  display: inline-block;
  vertical-align: middle; }

.home .btn--menu > div > svg {
  width: 1.2em;
  height: 1.2em; }

.home .content {
  background: url(../img/img4.jpg) no-repeat 50% 20%;
  background-size: cover; }

.home .demos {
  margin: 1em 0 0; }

.home .demo:first-child {
  margin: 0; }

.home .demo.demo--current {
  color: #2a3137; }

.home .demo--current::before {
  background: #F4FE55; }

.home .btn--back {
  color: #6c7d8c;
  top: 0.5em;
  right: 0.5em; }

.home .btn--back:hover {
  cursor: pointer; }

.home .btn--back .icon {
  /* transform: rotate(-90deg); */ }

.box {
  position: relative;
  width: 100%;
  height: 100%; }

/*
NAVIGATION
********************************/
.tabsnav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; }

.tabsnav--hidden {
  pointer-events: none;
  visibility: hidden; }

.tabsnav__item {
  height: 50px;
  position: relative;
  cursor: pointer;
  width: 36%; }

.tabsnav__bar {
  background: currentColor;
  height: 100%;
  position: absolute;
  pointer-events: none; }

.tabsnav__title {
  position: relative;
  cursor: pointer;
  margin: 0;
  height: 100%;
  font-weight: normal;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  pointer-events: none;
  padding-left: 1rem; }

/* Vertical Menu */
.tabsnav--vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%; }

.tabsnav--vertical .tabsnav__item {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 50px;
  height: 100%; }

.tabsnav--vertical .tabsnav__title {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

/* Ibai */
.tabsnav--ibai {
  /* top: 50%;
	margin-top: -115px; */ }

.tabsnav--ibai .tabsnav__item {
  height: auto; }

.tabsnav--ibai .tabsnav__item h3 {
  font-size: 14vw;
  text-transform: uppercase;
  line-height: .8; }

.tabsnav--ibai .tabsnav__item h3:hover {
  color: #F4FE55; }

#playNav.tabsnav__item h3:hover {
  color: #000; }

.tabsnav--ibai .tabsnav__bar {
  background: #000;
  opacity: 0; }

.tabsnav--ibai .tabsnav__title {
  color: #fff; }

.tabsnav--ibai .tabsnav__item:not(:last-child) {
  margin: 0; }

.tabsnav--active h3 {
  color: #fff !important; }

@media screen and (max-width: 40em) {
  /* don't show a background if on mobile */
  .tabsnav {
    background: none; } }

/*
HOME
********************************/
.flex-content {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: flex-end;
  -webkit-box-pack: end;
          justify-content: flex-end; }

.is-mobile .flex-content {
  overflow: hidden;
  height: calc(100% - 2%); }

.logo {
  position: absolute;
  right: 22%;
  opacity: 0; }

.logo img {
  width: 300px; }

/*
.icon--menu::before {
	content: 'CONTACTO';
	position: absolute;
	z-index: 9999;
	margin-top: -9px;
	margin-left: -17px;
} */
/*
CLOSE BUTTON
********************************/
.home .btn--back .icon {
  display: inline-block;
  vertical-align: top; }

.home .btn--back__txt {
  display: inline-block;
  position: relative;
  color: #F4FE55;
  right: 9px; }

.home .icon--caret {
  color: #F4FE55; }

/*
CREW
********************************/
#crewNav .tabsnav__bar {
  background: #0f0f0f; }

.video-viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100; }

.video-viewport video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media (min-aspect-ratio: 16 / 9) {
  #crew .video-viewport video {
    height: 300%;
    top: -100%; } }

@media (max-aspect-ratio: 16 / 9) {
  #crew .video-viewport video {
    width: 300%;
    left: -100%; }
  .is-mobile #crew .video-viewport video {
    width: 100%;
    left: 0%; } }

#work .video-viewport video,
#contacto .video-viewport video {
  width: 300%;
  left: -100%; }

#crewVideo-mobile {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block; }

/*
TOOLS
********************************/
#gallery {
  position: relative; }

#gallery img {
  position: absolute; }

#tools .box {
  cursor: none; }

/* Cursor */
#follower {
  position: absolute;
  top: 50%;
  left: 50%; }

#follower::before {
  content: 'move';
  position: absolute;
  z-index: 9999;
  margin-top: -9px;
  margin-left: -17px; }

.is-mobile #follower::before {
  content: 'tap';
  margin-left: -11px; }

#follower #circle1 {
  position: absolute;
  -webkit-animation: pulse 2s infinite;
  /* Chrome, Safari, Opera */
  animation: pulse 2s infinite;
  background-color: transparent;
  border: 2px solid #F4FE55;
  border-radius: 50%;
  height: 0em;
  width: 0em;
  margin-top: 0em;
  margin-left: 0em;
  z-index: 9997; }

#follower #circle2 {
  position: absolute;
  -webkit-animation: pulse 4s infinite;
  /* Chrome, Safari, Opera */
  animation: pulse 4s infinite;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  height: 0em;
  width: 0em;
  margin-top: 0em;
  margin-left: 0em;
  z-index: 9998; }

#follower.no-cursor::before {
  content: none; }

#follower.no-cursor #circle1,
#follower.no-cursor #circle2 {
  background: none !important; }

@-webkit-keyframes pulse {
  0% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em; }
  50% {
    opacity: 0.9;
    height: 3em;
    width: 3em;
    margin-top: -1.5em;
    margin-left: -1.5em; }
  100% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em; } }

@keyframes pulse {
  0% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em; }
  50% {
    opacity: 0.9;
    height: 3em;
    width: 3em;
    margin-top: -1.5em;
    margin-left: -1.5em; }
  100% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em; } }

/*
PLAY
********************************/
#playNav .tabsnav__bar {
  background: #0f0f0f; }

#play .box {
  overflow-y: scroll; }

.letter-container {
  position: relative;
  list-style: none;
  height: 300vh; }

.letter-container .letter {
  color: #fff;
  position: absolute;
  cursor: pointer;
  font-size: 2rem;
  font-weight: lighter;
  font-family: Helvetica, sans-serif;
  opacity: .3; }

.letter-container .letter:first-child {
  left: 10.15vw;
  top: 23.44vh; }

.letter-container .letter:nth-child(2) {
  left: 32.43vw;
  top: 30.11vh; }

.letter-container .letter:nth-child(3) {
  left: 60.13vw;
  top: 17.22vh; }

.letter-container .letter:nth-child(4) {
  left: 88.05vw;
  top: 27.5vh; }

.letter-container .letter:nth-child(5) {
  left: 14.2vw;
  top: 66.61vh; }

.letter-container .letter:nth-child(6) {
  left: 35.17vw;
  top: 85.16vh; }

.letter-container .letter:nth-child(7) {
  left: 48.85vw;
  top: 53.66vh; }

.letter-container .letter:nth-child(8) {
  left: 76.87vw;
  top: 61.27vh; }

.letter-container .letter:nth-child(9) {
  left: 82.88vw;
  top: 85vh; }

.letter-container .letter:nth-child(10) {
  left: 10.15vw;
  top: 123.44vh; }

.letter-container .letter:nth-child(11) {
  left: 32.43vw;
  top: 130.11vh; }

.letter-container .letter:nth-child(12) {
  left: 60.13vw;
  top: 117.22vh; }

.letter-container .letter:nth-child(13) {
  left: 88.05vw;
  top: 127.5vh; }

.letter-container .letter:nth-child(14) {
  left: 14.2vw;
  top: 166.61vh; }

.letter-container .letter:nth-child(15) {
  left: 35.17vw;
  top: 185.16vh; }

.letter-container .letter:nth-child(16) {
  left: 48.85vw;
  top: 153.66vh; }

.letter-container .letter:nth-child(17) {
  left: 76.87vw;
  top: 161.27vh; }

.letter-container .letter:nth-child(18) {
  left: 82.88vw;
  top: 185vh; }

.letter-container .letter:nth-child(19) {
  left: 10.15vw;
  top: 223.44vh; }

.letter-container .letter:nth-child(20) {
  left: 32.43vw;
  top: 230.11vh; }

.letter-container .letter:nth-child(21) {
  left: 60.13vw;
  top: 217.22vh; }

.letter-container .letter:nth-child(22) {
  left: 88.05vw;
  top: 227.5vh; }

.letter-container .letter:nth-child(23) {
  left: 14.2vw;
  top: 266.61vh; }

.letter-container .letter:nth-child(24) {
  left: 35.17vw;
  top: 285.16vh; }

.letter-container .letter:nth-child(25) {
  left: 48.85vw;
  top: 253.66vh; }

.scroll-downs {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 1rem;
  left: 0;
  margin: auto;
  width: 17px;
  height: 27px;
  opacity: 0; }

.mousey {
  width: 1.5px;
  padding: 5px 7.5px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.scroller {
  width: 2px;
  height: 5px;
  border-radius: 25%;
  background-color: #fff;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
          animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    opacity: 0; } }

@keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    opacity: 0; } }

/* AUDIO WAVES */
.audio-wave .lds-grid {
  height: 46px; }

.audio-wave {
  position: fixed;
  right: 0;
  margin: 2rem 9.5rem 0 0;
  cursor: pointer;
  z-index: 999;
  top: 0;
  opacity: 0; }

.loader-container {
  position: relative;
  height: 25px;
  width: 74px; }

.loader-container > div {
  position: relative;
  display: inline-block;
  background: #575757;
  height: 100%;
  width: 3px;
  margin: 0; }

.animated-wave .loader-container > div {
  -webkit-animation: load 3s ease-in-out infinite;
  animation: load 3s ease-in-out infinite; }

.animated-wave .loader-container .rectangle-2 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.animated-wave .loader-container .rectangle-3 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.animated-wave .loader-container .rectangle-4 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.animated-wave .loader-container .rectangle-5 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.animated-wave .loader-container .rectangle-6 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

@-webkit-keyframes load {
  0%,
  100% {
    -webkit-transform: scaleY(0.25);
    background: #575757; }
  16.67% {
    -webkit-transform: scaleY(0.75);
    background: #FF5722; }
  33.33% {
    -webkit-transform: scaleY(0.25);
    background: #FF5252; }
  50% {
    -webkit-transform: scaleY(0.75);
    background: #E91E63; }
  66.67% {
    -webkit-transform: scaleY(0.25);
    background: #E91E63; }
  83.34% {
    -webkit-transform: scaleY(0.75);
    background: #F4FE55; } }

@keyframes load {
  0%,
  100% {
    -webkit-transform: scaleY(0.25);
            transform: scaleY(0.25);
    background: #575757; }
  16.67% {
    -webkit-transform: scaleY(0.75);
            transform: scaleY(0.75);
    background: #FF5722; }
  33.33% {
    -webkit-transform: scaleY(0.25);
            transform: scaleY(0.25);
    background: #FF5252; }
  50% {
    -webkit-transform: scaleY(0.75);
            transform: scaleY(0.75);
    background: #E91E63; }
  66.67% {
    -webkit-transform: scaleY(0.25);
            transform: scaleY(0.25);
    background: #E91E63; }
  83.34% {
    -webkit-transform: scaleY(0.75);
            transform: scaleY(0.75);
    background: #F4FE55; } }

/*
WORK
********************************/
#workNav .tabsnav__bar {
  background: #0f0f0f; }

#work .box {
  width: 80vw;
  min-width: 300px;
  height: calc(90vh - 120px);
  margin-top: 40px;
  background-size: cover;
  background-position: 50% 0;
  font-family: 'Raleway', sans-serif;
  padding-top: 3rem; }

.box__brands {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .box__brands--logo {
    height: auto;
    -ms-flex-item-align: center;
        align-self: center; }
    .box__brands--logo:nth-child(n + 2) {
      page-break-before: always;
      /* FF33 */ }
    .box__brands--logo img {
      margin: 1rem 1.6rem;
      opacity: .6;
      -webkit-transition: opacity .4s ease-in-out;
      -o-transition: opacity .4s ease-in-out;
      transition: opacity .4s ease-in-out; }
      .box__brands--logo img:hover {
        opacity: 1; }
    .box__brands--logo__telcel img {
      width: 130px; }
    .box__brands--logo__telmex img {
      width: 180px; }
    .box__brands--logo__televisa img {
      width: 70px; }
    .box__brands--logo__imagen img {
      width: 55px; }
    .box__brands--logo__c22 img {
      width: 52px; }
    .box__brands--logo__c40 img {
      width: 100px; }
    .box__brands--logo__iave img {
      width: 110px; }
    .box__brands--logo__ln img {
      width: 68px; }
    .box__brands--logo__sa img {
      width: 180px; }
    .box__brands--logo__blim img {
      width: 74px; }
    .box__brands--logo__rc img {
      width: 160px; }
    .box__brands--logo__cf img {
      width: 110px; }

.box__list {
  padding: 0;
  font-size: 1.4em;
  position: relative;
  top: 0;
  margin: 3rem 0;
  color: #fff;
  letter-spacing: 2px;
  z-index: 2;
  width: 100%;
  text-align: center;
  font-family: 'Rosario',cursive;
  list-style: none;
  font-size: 1.6rem; }
  .box__list li:hover {
    color: #F4FE55; }

.box__list li {
  margin-bottom: 1rem; }

.contacto-nav__btn {
  opacity: 0; }

.contacto {
  position: absolute;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  width: 40%;
  height: 50%;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  padding-left: 1rem;
  font-family: 'Rosario', cursive; }

.contacto-header {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -3rem; }

.contacto .phone {
  position: absolute;
  bottom: -2.2rem;
  font-size: 3rem; }

.contacto .address {
  font-size: 1.5rem;
  color: #fff;
  line-height: 1;
  margin-top: -5rem;
  line-height: 1.4; }

.contacto .correo {
  cursor: pointer; }

.contacto-social {
  position: absolute;
  bottom: -1rem;
  padding-left: 0;
  right: -4rem; }
  .contacto-social .icon {
    width: 2.5em;
    height: 2.5em; }
  .contacto-social li {
    list-style: none; }
  .contacto-social a {
    color: #F4FE55; }
    .contacto-social a:hover {
      color: #FFFFFF; }

.contacto .phone-mobile {
  display: none; }

.contacto .phone-desktop {
  display: block; }

.contacto-banner {
  display: none; }

.hide {
  opacity: 0 !important; }

.none {
  display: none !important; }

@media only screen and (max-width: 992px) {
  .logo {
    right: 19%; }
    .logo img {
      width: 250px; } }

@media only screen and (max-width: 600px) {
  .home .btn--back {
    color: #6c7d8c;
    top: 9px;
    right: 3px; }
  #gallery img {
    width: 60%; }
  .logo {
    position: relative;
    right: auto;
    width: 100%;
    text-align: center;
    margin: 2rem auto; }
  .logo img {
    width: 120px; }
  .view {
    overflow: auto;
    height: auto;
    min-height: calc(100vh - 69px);
    margin: 0; }
  .home .view {
    height: calc(100vh - 69px); }
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px; }
  .flex-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .deco__text,
  .demos__text {
    display: none; }
  .demos {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 1em; }
  .poster__box {
    top: -20px;
    left: 30px;
    width: 30%;
    height: 30%;
    border: 7px solid; }
  .poster__deco {
    font-size: 1em; }
  .poster__number {
    font-size: 2em;
    left: calc(100% - 90px); }
  .poster__title {
    font-size: 3em; }
  .btn--back {
    top: 0;
    right: 0; }
  .btn--menu {
    display: block; }
  .demo-2 .btn--menu {
    position: relative;
    margin: 0 2em 0 0; }
  .demo-2 .tabscontent__item {
    font-size: 0.575em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .column__title {
    margin: 1em 0 0; }
  .contacto {
    width: 100%;
    margin-top: 0%;
    text-align: center;
    padding: 0;
    font-weight: bolder; }
  .contacto .address {
    margin-top: 0;
    font-size: 1.2rem; }
  .contacto .phone {
    position: relative;
    bottom: auto;
    font-size: 1.8rem;
    margin-top: .6rem;
    margin-bottom: .6rem; }
  .contacto-social {
    position: relative;
    right: auto;
    left: 0;
    bottom: auto;
    text-align: center; }
    .contacto-social li {
      display: inline-block;
      vertical-align: top; }
  .contacto-header {
    display: none; }
  .contacto .phone-mobile {
    display: block;
    text-decoration: underline;
    color: #F4FE55; }
  .contacto .phone-desktop {
    display: none; }
  .contacto-social__list {
    display: inline-block;
    padding: .6rem;
    border: 3px solid yellow;
    border-radius: 1rem; }
  .contacto-banner {
    display: block;
    width: 100%; }
  .audio-wave {
    left: .6rem;
    right: auto; }
  #work .box {
    margin-top: 0;
    width: 100vh;
    padding-top: 0;
    height: 80vh; }
  .box__list {
    margin: 0;
    font-size: 1rem;
    padding: 0; }
  .box__brands {
    display: block;
    text-align: center; }
    .box__brands--logo {
      display: inline-table;
      height: auto;
      width: 30%; }
      .box__brands--logo img {
        vertical-align: middle; }
      .box__brands--logo__telcel {
        width: 40%; }
        .box__brands--logo__telcel img {
          width: 98px; }
      .box__brands--logo__telmex {
        width: 40%; }
        .box__brands--logo__telmex img {
          width: 130px; }
      .box__brands--logo__televisa img {
        width: 55px; }
      .box__brands--logo__imagen img {
        width: 42px; }
      .box__brands--logo__c22 img {
        width: 42px; }
      .box__brands--logo__c40 img {
        width: 70px; }
      .box__brands--logo__iave img {
        width: 80px; }
      .box__brands--logo__ln img {
        width: 48px; }
      .box__brands--logo__sa {
        width: 42%; }
        .box__brands--logo__sa img {
          width: 140px; }
      .box__brands--logo__blim {
        width: 42%; }
        .box__brands--logo__blim img {
          width: 50px; }
      .box__brands--logo__rc {
        width: 48%; }
        .box__brands--logo__rc img {
          width: 130px; }
      .box__brands--logo__cf {
        width: 48%; }
        .box__brands--logo__cf img {
          width: 80px; }
  .tabsnav__bar {
    width: 100%; }
  .tabsnav--ibai .tabsnav__item h3 {
    text-align: center;
    padding-left: 0; }
  .tabsnav__item {
    width: 100%; }
  .tabsnav--ibai .tabsnav__item:not(:last-child) {
    margin: 1rem 0; } }

@media only screen and (max-width: 380px) {
  .box__brands--logo__telcel img {
    width: 78px; }
  .box__brands--logo__telmex img {
    width: 100px; }
  .box__brands--logo__televisa img {
    width: 45px; }
  .box__brands--logo__imagen img {
    width: 32px; }
  .box__brands--logo__c22 img {
    width: 32px; }
  .box__brands--logo__c40 img {
    width: 60px; }
  .box__brands--logo__iave img {
    width: 65px; }
  .box__brands--logo__ln img {
    width: 40px; }
  .box__brands--logo__sa img {
    width: 120px; }
  .box__brands--logo__blim img {
    width: 40px; }
  .box__brands--logo__rc img {
    width: 110px; }
  .box__brands--logo__cf img {
    width: 65px; } }

.close a {
  line-height: 1;
  width: 50px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #222;
  border-radius: 14.5px; }

.close svg {
  width: 15px;
  height: 15px;
  position: relative;
  left: -2px; }
  .close svg path {
    stroke: #F4FE55; }

.goBack a {
  background-color: transparent;
  border: 2px solid #F4FE55; }

#bodyBg-tools, #bodyBg-work {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute; }

#bodyBg-tools {
  background-image: url(../video/bkg/tools.jpg); }

#bodyBg-work {
  background-image: url(../img/bkg/work-bkg-02.jpg); }

.loaded {
  opacity: 1 !important; }

.lds-grid {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0; }

.lds-grid div {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #F4FE55;
  opacity: 0.1; }

.animated-wave .lds-grid div {
  -webkit-animation: loader-anim 1.2s linear infinite;
          animation: loader-anim 1.2s linear infinite; }

.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }

.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }

.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }

.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }

.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }

.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s; }

.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }

.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s; }

.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s; }

@-webkit-keyframes loader-anim {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.5; } }

@keyframes loader-anim {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.5; } }

@font-face {
  font-family: 'Shelf-Life';
  src: url("../fonts/shelflifesemiexpd-webfont.eot");
  src: url("../fonts/shelflifesemiexpd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/shelflifesemiexpd-webfont.woff") format("woff"), url("../fonts/shelflifesemiexpd-webfont.ttf") format("truetype"), url("../fonts/shelflifesemiexpd-webfont.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

/*********************
  Media Query Classes
**********************/
@media only screen and (max-width: 600px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important; } }

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important; } }

@media only screen and (min-width: 601px) {
  .hide-on-med-and-up {
    display: none !important; } }

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important; } }

@media only screen and (min-width: 993px) {
  .hide-on-large-only {
    display: none !important; } }

@media only screen and (min-width: 1201px) {
  .hide-on-extra-large-only {
    display: none !important; } }

@media only screen and (min-width: 1201px) {
  .show-on-extra-large {
    display: block !important; } }

@media only screen and (min-width: 993px) {
  .show-on-large {
    display: block !important; } }

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .show-on-medium {
    display: block !important; } }

@media only screen and (max-width: 600px) {
  .show-on-small {
    display: block !important; } }

@media only screen and (min-width: 601px) {
  .show-on-medium-and-up {
    display: block !important; } }

@media only screen and (max-width: 992px) {
  .show-on-medium-and-down {
    display: block !important; } }

@media only screen and (max-width: 600px) {
  .center-on-small-only {
    text-align: center; } }
